body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fffcfc;
}
.game-container{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
  height: 100vh;
}
.logo{
  width: 500px;
  margin-bottom: 20px;
}
img{
  width: 100%;
}
#game-grid{
height: 300px;
display: flex;
flex-direction: column-reverse;
justify-content: center;
align-items: center;
}
button{
background-color: #e1ad37;
font-family: 'Raleway', sans-serif;
font-weight: 700;
color: white;
border: #e1ad37;
border-radius: 15px;
padding: 20px;
margin-bottom: 80px;
width: 85px;
}
button:hover{
  opacity: 0.7;
}
.story-text{
  order: 1;
  color:#e1ad37;
  width: 700px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.answer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#answer-field{
margin-bottom: 20px;
width: 200px;
height: 40px;
border-radius: 8px;
background-color: #e6cfc8;
border: none;
text-align: center;
}
@media only screen and (max-width: 700px){
.game-container{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100vh;
}
#answer-field{
  width: 120px;
}
.story-text{
  margin-top: 30px;
  width: 300px;
}
.story-text p{
  width: 100%;
  padding: 10px;
}
.logo{
  width: 300px;
  margin-bottom: 0;
  margin-top: 20px;
}
#game-grid{
  justify-content: flex-end;
  height: fit-content;
}

}
